<a href="https://colab.research.google.com/github/MayangFirki/phyton-portofolio/blob/main/dict%2C_list%2C_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("List Harga :")
print("Untuk pengunjung berusia kurang dari 7 tahun : Gratis")
print("Untuk pengunjung berusia antara 7-12 tahun : Rp. 10.000")
print("Untuk pengunjung berusia diatas 12 tahun : Rp. 20.000")
print("===========================================")
total=0
tiket=0
validasi=input("Apakah Anda ingin membeli tiket? (yes/no) ")
while validasi=="yes":
    usia=int(input("Berapa usia anda? "))
    if usia<7:
        banyak=int(input("Berapa tiket yang ingin Anda beli? "))
        harga=banyak*0
    elif usia>=7 and usia<=12:
        banyak=int(input("Berapa tiket yang ingin Anda beli? "))
        harga=banyak*10000
    else:
        banyak=int(input("Berapa tiket yang ingin Anda beli? "))
        harga=banyak*20000
    print("-----------------------------------------")
    tiket+=banyak
    total+=harga
    validasi=input("Apakah Anda ingin membeli lagi? (yes/no) ")
print("_______________")
print(f"Harga total untuk {tiket} tiket adalah Rp. {total:,}")

List Harga :
Untuk pengunjung berusia kurang dari 7 tahun : Gratis
Untuk pengunjung berusia antara 7-12 tahun : Rp. 10.000
Untuk pengunjung berusia diatas 12 tahun : Rp. 20.000
===========================================
Apakah Anda ingin membeli tiket? (yes/no) yes
Berapa usia anda? 5
Berapa tiket yang ingin Anda beli? 3
-----------------------------------------
Apakah Anda ingi membeli lagi? (yes/no) yes
Berapa usia anda? 15
Berapa tiket yang ingin Anda beli? 2
-----------------------------------------
Apakah Anda ingi membeli lagi? (yes/no) yes
Berapa usia anda? 8
Berapa tiket yang ingin Anda beli? 1
-----------------------------------------
Apakah Anda ingi membeli lagi? (yes/no) no
_______________
Harga total untuk 6 tiket adalah Rp. 50,000

In [ ]:
sampledict = {
"name": "Anna",
"gender": "female",
"age": 19
}
print(sampledict)
print(sampledict["gender"])
print(sampledict["age"])
#program1 dictionary

{'name': 'Anna', 'gender': 'female', 'age': 19}
female
19

In [ ]:
#Dictionary
# List [] ; dictionary {}
# List (index selalu dimulai dari 0....) ; Dictionary (kita yang menentukan index)
# Dictionary ==> Key (index) dan value (isi)
sampledict = {
"name": "Anna",
"gender": "female",
"age": 19
}
print(sampledict.keys())
print(sampledict.values())

dict_keys(['name', 'gender', 'age'])
dict_values(['Anna', 'female', 19])

In [ ]:
sampledict = {
"name": "Anna",
"gender": "female",
"age": 19
"age": 20
}
print(sampledict)
#program2 dictionary

SyntaxError: ignored

In [ ]:
#List
my_list1 = [] # list kosong
my_list2 = [1, 2, 3, 3] # list berisi integer
my_list3 = [True, 2, 'Tiga'] # list berisi nilai dengan berbeda type
my_list4 = [[90, 90], [100, 90]] # list berisi list lain
my_list5 = list ([1, 2, 3])
print(my_list1)
print(my_list2)
print(my_list3)
print(my_list4)
print(my_list5)

[]
[1, 2, 3, 3]
[True, 2, 'Tiga']
[[90, 90], [100, 90]]
[1, 2, 3]

In [ ]:
#type of data in list
list_string = ["Apel", "Banana", "Pineapple"]
print (list_string)
list_number = [5,35,50]
print (list_number)
list_mix=["Joni", 20, True]
print(list_mix)

['Apel', 'Banana', 'Pineapple']
[5, 35, 50]
['Joni', 20, True]

In [ ]:
#example
list_alphabet = ["A", "B", "C", "D", "X", "Y", "Z"]
print (list_alphabet [2]) #print index ke 2 (INGAT INDEX MULAI DARI 0)
print (list_alphabet [-2])#print index ke 2 TAPI DARI BELAKANG
#replace
list_alphabet [2] = "0" 
print (list_alphabet) #print list_alphabet TAPI INDEX KE 2 DIGANTI "0"
#adding
list_alphabet.append("K")
print (list_alphabet) #print list_alphabet + K
list_alphabet.extend(["L", "M", "N"])
print (list_alphabet) #???

C
Y
['A', 'B', '0', 'D', 'X', 'Y', 'Z']
['A', 'B', '0', 'D', 'X', 'Y', 'Z', 'K']
['A', 'B', '0', 'D', 'X', 'Y', 'Z', 'K', 'L', 'M', 'N']

In [ ]:
listku = ["aisy", "fitho", "arif"]
nama = input("masukkan nama:")
listku.append(nama)
print(listku)

masukkan nama:mayang
['aisy', 'fitho', 'arif', 'mayang']

In [ ]:
#FUNCTION
def penjumlahan(a,b):
  hasil=a+b
  return hasil #
print(penjumlahan(5,3))

8

In [ ]:
#PERBEDAAN RETURN & PRINT
def penjumlahan(a,b):
  hasil=a+b
  return hasil
asal = penjumlahan(5,4)-penjumlahan(1,2)
print(asal)

def pengurangan(a,b):
  hasil=a-b
  print(hasil)
asal2 = pengurangan(6,1)-pengurangan(3,2)
print(asal2)

6
5
1

TypeError: ignored

In [ ]:
#Function
def my_function():
  print("Hello from a function")
#Catatan, jika anda mencoba untuk memanggil function with 1 or 3 arguments, Anda akan mendapatkan hasil error:

In [ ]:
def my_function(child3, child2, child1):
my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")
print("The youngest child is " child3)

SyntaxError: ignored

In [ ]:
# fungsi untuk melakukan cetak menu
def menu(jumlah, menu):
Fungsi untuk mencetak menu dengan jumlah tertentu.
Parameters:
jumlah (integer) : menu akan dicetak sebanyak jumlah kali
menu (string) : menu yang akan dicetak
print("Cetak menu ayam geprek", jumlah, "kali")
print("-"*10)

IndentationError: ignored

In [ ]:
first_name = {Mayang,Ira,Fita,Ersa}
last_name = {Sari,Setyaningrum,Ratna,Ixania}
age = {19,19,20,19}
city = {Jombang,Malang,Batu,Mojokerto}
print

In [ ]:
kamus = {
"first_name": "anna",
"last_name": "female",
"age": "19"
"city": "Malang"
}
print(kamus.keys())
print(kamus.values())

SyntaxError: ignored

In [ ]:
#Exercise dictionary no 1
kamus1 = {"first_name":"Mayang","last_name":"Sari","age":"20 Tahun","city":"Jombang"}
print(kamus1)
for kunci in kamus1.keys():
  print(f"kunci dari kamus1 adalah {kunci}")

for nilai in kamus1.values():
  print(f"nilai dari kamus1 adalah {nilai}")

{'first_name': 'Mayang', 'last_name': 'Sari', 'age': '20 Tahun', 'city': 'Jombang'}
kunci dari kamus1 adalah first_name
kunci dari kamus1 adalah last_name
kunci dari kamus1 adalah age
kunci dari kamus1 adalah city
nilai dari kamus1 adalah Mayang
nilai dari kamus1 adalah Sari
nilai dari kamus1 adalah 20 Tahun
nilai dari kamus1 adalah Jombang

In [ ]:
#punya fellisa
information = {"first_name":"Mayang","last_name":"Sari","age":20,"city":"Jombang"}
#print(information)
print("first name:",information ["first_name"])
print("last name:",information ["last_name"])
print("age:",information ["age"])
print("city:",information ["city"])

first name: Mayang
last name: Sari
age: 20
city: Jombang

In [ ]:
#Exercise dictionary no 2
kamus2 = {"Ira":21,"Indah":27,"Fita":12,"Amil":13,"Mayang":20}
for kunci in kamus2.keys():
  print(f"{kamus2[kunci]} adalah nomor favorit {kunci}")

21 adalah nomor favorit Ira
27 adalah nomor favorit Indah
12 adalah nomor favorit Fita
13 adalah nomor favorit Amil
20 adalah nomor favorit Mayang

In [ ]:
#Exercise dictionary no 3
favorite_places = {
    "Mayang" : ["Bali","Malang","Yogyakarta"],
    "Ira" : ["Jombang","Jakarta","Solo"],
    "Fita" : ["Lombok","Madiun","Bandung"],
}
print(favorite_places)

{'Mayang': ['Bali', 'Malang', 'Yogyakarta'], 'Ira': ['Jombang', 'Jakarta', 'Solo'], 'Fita': ['Lombok', 'Madiun', 'Bandung']}

In [ ]:
#exercise function no 1
def kalkulasitambah(a,b):
  return (a+b)
print(kalkulasitambah(2,3))

5

In [ ]:
def kalkulasitambah(a,b):
  return (a+b)

(kalkulasitambah(2,3))

5

In [ ]:
def format_name(firstname,lastname):
  formated_firstname = firstname.tittle()
  formated_lastname = lastname.tittle()
  firstname.capitalize()
  lastname.capitalize()
  return f"{formated_firstname} {formated_lastname}"
print (format_name "VERTIC","eRidani")

SyntaxError: ignored

In [ ]:
#Exercise function no 2
def full_name(firstname,lastname):
  return f"Your full name : {firstname.capitalize()} {lastname.capitalize()}"
print (full_name("VERTIC","eRidani"))

Your full name : Vertic Eridani

In [ ]:
#Exercise function no 3
def ibukota(negara,kota):
  return f"Ibu kota negara {negara} adalah {kota}"
print(ibukota("Indonesia","Jakarta"))

Ibu kota negara Indonesia adalah Jakarta